<div class="page-header partial_background row-fluid">
  <div id="flash"></div>
  <div id="profile_banner">
    <% if current_user %>
      <div id="user_headline" class="title_block">
        <%= image_tag current_user.picture, size: "70x70" %>
        <span style="color: white;"><%= current_user.name %> +</span><span style="color: orange"> <%= current_user.location %> +</span><span style="color: #007899"> Total Checkins »</span><span style="color: #129900"><%=current_user.checkins.count %></span>
      </div>
    <% else %>
      <div class="title_block">
        <span id="title_header">CheckMeOut 360 </span> <span style="color: red"> Ground Zero Labs</span>
      </div>
    <% end %>
  </div>
  <%= yield :splash_page %>
  <div id="intro_block">
    <%= yield :intro_message %>
  </div>
</div>
