<%= render partial: 'shared/profile_layout' %>

<div class="row-fluid center_block span9">
  <div class="checkin-blocks sub-hero-unit span3">
    <%= image_tag @user.profile.profile_picture %>
  </div>
  <div class="checkin-blocks sub-hero-unit span6">
    <h3>&nbsp; <%= image_tag "google_grey_marker.png", size: "40x60" %> &nbsp; &nbsp; &nbsp; <small>where &nbsp; &nbsp; &nbsp; &nbsp;</small><%= @user.profile.location %></h3>
    <br/>
    <h3>&nbsp; <%= image_tag "grey_globe.png", size: "50x50" %> &nbsp; &nbsp; <small>places &nbsp; &nbsp; &nbsp;</small> <%= @places.count %></h3>
    <br/>
    <h3><%= image_tag "grey_pound_sign.png", size: "70x45" %> &nbsp; <small>checkins </small>  &nbsp; <%= @checkins.count %></h3>
    <br/>
  </div>
  <div class="checkin-blocks sub-hero-unit span6">
    <% if @checkins.first %>
      <center>
        <h3>&nbsp; <%= image_tag "grey_check.png", size: "45x45" %> <b>last check in </b></h3>
        <br/>
        <h4 id="latest_checkin">
          <small> >> </small><%= @checkins.first.message %><br/>
          <small> @ </small><%= @checkins.first.place.name %><br/>
          <small>On</small> <%= @checkins.first.created_at.strftime("on %A %B %d, %Y at %I:%M %p")%><br/>
          <small>With</small>
          <% @checkins.first.users.each do |user| %>
            <small><i><%= user.profile.full_name %></i></small>
          <% end %>
          </h4>
      </center>
    <% end %>
  </div>
</div>
