<div id="mini_feed">
  <% @all_checkins.each_with_index do |checkin, index| %>
    <a>
      <% checkin.users.each_with_index do |user, index| %>
        <% if index > 3 %>
          <small style="font-size: 10px;">...</small>
          <% break %>
        <% elsif index == checkin.users.count-1 %>
          <small style="font-size: 10px;"><%= link_to user.name, user_path(user), :class => "user_checkin_list" %></small>
        <% else %>
          <small style="font-size: 10px;"><%= link_to user.name, user_path(user), :class => "user_checkin_list" %></small>,
        <% end %>
      <% end %>
      <%= image_tag "marker_icon.png" %><small style="font-size: 10px;"><%= checkin.place.name %></small>
      <b>On</b> <small style="font-size: 10px;"><%= checkin.created_at.strftime("on %A") + " #{day_format(checkin.created_at)}" %></small>
      <hr/>
    </a>
  <% end %>
</div>
