<div class="list-widget">
  <a><%= image_tag "#{@user.privacy}_lock.png", id: "privacy_lock", size: "42x42", class: "avatar left" %>
  <div class="list-head">
    <h3><a class="no-dec">Security Setting</a></h3>
      <div class="no-dec list-meta">Current security level · <a><%= @user.privacy %></a>
      </div>
  </div>
  <ul>
  <% if current_user == @user %>
    <%= simple_form_for @user do |f| %>    
      <%= f.input :privacy, label: false, collection: User::PRIVACY, priority: User::PROTECTED, include_blank: false  %>
        <%= f.button :submit, class: "btn btn-success btn-small", value: "Update Settings" %>
    <% end %>
  <% end %>
  <div id="privacy_description_block">
    <p id="private"><i><small><b>&nbsp; private »</b></small></i> Only You <i><small><b>&nbsp; protected (default) »</b></small></i></i> Only friends <i><small><b>&nbsp; public »</b></small></i></small></i> everyone</p>
  </div>
  </ul>
</div>
