<div class="<%= span_class %>">
  <a><%= image_tag @user.picture, size: "42x42", class: "avatar left" %>
  <div class="list-head">
    <h3><a class="no-dec"><%= @user.name %></a></h3>

  </div>
  <ul>
    <div>
      <%= link_to "Myself »", user_path(@user.id), class: "btn btn-danger btn-mini" %> &nbsp;
      <%= link_to "Map »", map_user_places_path(@user.id), class: "btn btn-success btn-mini" %> &nbsp;
      <%= link_to "Places »", user_places_path(@user.id), class: "btn btn-info btn-mini user_show_places" %> &nbsp;
      <%= link_to "Checkins »", user_checkins_path(@user.id), class: "btn btn-warning btn-mini" %> &nbsp;
    </div>
  </ul>
</div>