<div class="accordion_2" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading" id="news_accordion_head">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
        <h2><center><%=image_tag "news.png", size:"50x50", class: "accordion_header_img" %>Whats Going On?</center></h2>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="news_feed" class="hero-unit">
          <% @all_checkins.each_with_index do |checkin, index| %>
            <p>
              <%= checkin.message %>
              <b>With:</b>
              <% checkin.users.each do |user| %>
                <%= link_to user.name, user_path(user), :class => "user_checkin_list" %>
              <% end %>
              <b>At</b> <small style="font-size: 15px;"><%= checkin.place.name %></small>
              <b>On</b> <small style="font-size: 15px;"><%= checkin.created_at.strftime("on %A %B %d, %Y at %I:%M %p")%></small>
              <hr/>
            </p>
          <% end %>
          <center><%= paginate @all_checkins %></center>
        </div>
      </div>
    </div>
  </div>
</div>

