<% content_for :intro_message do %>
<div class='row-fluid margin-top large'>
  <div id="intro_message" class="span4 offset1">
    <h1>Welcome</h1>
    <h3> CheckMeOut-360</h3>
    <p>Where your places come alive</p>
    <h1>
      <small style="color: red">design</small> <small style="color: orange">+</small> <small style="color: blue"> develop by</small>
    </h1>
    <h2 id="ground_zero_h1" class="red underline">GroundZero Labs</h2>
  </div>
  <div id="tag_part_1" class="span3">
    <%= image_tag "computer_screens.png", size: "225x109"%>
    <br/><br/>
    <h2 class='underline'>Made for Everyone.</h2>
    <p>All you need is a Facebook Account and now you set to run
      <%= link_to "Login »", user_omniauth_authorize_path(:facebook), style: "color: red" %>. Have fun!</p>
  </div>

  <div id='tag_part_2' class='span3'>
    <%= image_tag "visualized.png", size: "225x109"%>
    <br/><br/>
    <h2 class='underline'>Simple Features.</h2>
    <p>See where you been in many different forms; from graphs to charts, to list to maps.</p>
  </div>
</div>

<% end %>

<% content_for :splash_page do %>
<div id="mini_title_bar">
  <div id="section_1_title_bar" class="span4">
    <div class="title_block">
      <br/>
      <span id="title_header">CheckMeOut 360 <span style="color: red"> Ground Zero Labs</span> </span>
    </div>
  </div>

  <div id="section_2_title_bar">
    <div id="splash_page_login_button_group">
      <% if current_user %>
        <%= link_to "Profile »", user_path(current_user), :class => "login_logout_top_menu btn btn-primary" %>
      <% else %>
        <%= link_to "Login »", user_omniauth_authorize_path(:facebook), :class => "login_logout_top_menu btn btn-primary" %>
      <% end %>
      &nbsp;&nbsp;
      <%= link_to "What »", about_home_index_path, :class => "btn" %>&nbsp;&nbsp;
      <%= link_to "Who »", who_home_index_path, :class => "btn" %>
    </div>
  </div>
</div>
<% end %>
