<section id="collapse">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading" id="about_accordion_head">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <h2><%= image_tag "about_icon.png", class: "accordion_header_img" %>About</h2>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body in">
        <div class="accordion-inner">
          <%= render partial: "overview" %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading" id="technical_accordion_head">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <h2><%= image_tag "technical_icon.png", class: "accordion_header_img" %>Technical Overview</h2>
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render partial: "technical" %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading" id="author_accordion_head">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          <h2><%= image_tag "author_icon.png", class: "accordion_header_img" %>About the Author</h2>
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render partial: "myself" %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading" id="getting_started_accordion_head">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          <h2><%= image_tag "start_icon.png", class: "accordion_header_img" %>Getting Started</h2>
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render partial: "getting_started" %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading" id="news_accordion_head">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          <h2><%= image_tag "news_icon.png", class: "accordion_header_img" %>News Feed</h2>
        </a>
      </div>
      <div id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render partial: "news_feed" %>
        </div>
      </div>
    </div>
  </div>
</section>

