<% @feeds.each do |feed| %>
  <tr>
    <% if feed.class == Post %>
      <td><%= image_tag feed.user.profile.try(:profile_picture), :size => "45x40" %></td>
      <td><%= feed.message %></td>
      <td><%= link_to (image_tag "x_image.png"), feed, :class => "feeds_delete_button", confirm: 'Are you sure?', method: :delete  if feed.user_id == current_user.try(:id) %></td>
    <% else %>
      <td><%= image_tag @profile.try(:profile_picture), :size => "45x40" %></td>
      <td><%= @profile.first_name %> been to <%= feed.place.name %> on <%= feed.created_at.strftime("on %A %B %d, %Y at %I:%M %p") %></td>
    <% end %>
  </tr>
<% end %>