<div id="places_start_controller">
  <div class="main_content">
    <!-- <%= simple_form_for( Place.new, :remote => true ) do |f| %>
      <%= f.input :name, :label => false, :placeholder => "Enter Name", :input_html => {:class => "bottom_space"} %>
      <%= f.input :address, :label => false, :placeholder => "Enter address", :input_html => {:class => "bottom_space"} %>
      <%= f.button :submit, :class => "btn info" %>
    <% end %> -->
    <%= render :partial => "google_map" %>
  </div>
</div>