<%= render partial: 'shared/profile_layout', :locals => {:span_class => 'span6 offset3'} %>
<div class="clearfix"></div>
<center><%= paginate @places %></center>

<% @places.each do |place| %>
<div class="list-widget">
  <a><%= image_tag "maps.png", size: "42x42", class: "avatar left" %>
  <div class="list-head">
    <h3><a class="no-dec"><%= place.name %></a></h3>
    <div class="no-dec list-meta">Where · <a><%= place.address %></a></div>
    <p><small>On</small> <%= place.created_at.strftime("%A %B %d, %Y at %I:%M %p")%></p>
  </div>
  <div class="list_pad extra">
  <ul>
    <% place.checkins.each do |checkin| %>
      <% unless checkin.message.blank? %>
        <a>For checkins · <%="#{checkin.message}"%></a>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
<% end %>