<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>State:</b>
  <%= @place.state %>
</p>

<p>
  <b>Country:</b>
  <%= @place.country %>
</p>

<p>
  <b>Zip:</b>
  <%= @place.zip %>
</p>

<p>
  <b>Lat:</b>
  <%= @place.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @place.long %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
