<!DOCTYPE html>
<html>
<head>
  <title>CheckMeOut360</title>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=AIzaSyBxYlcqNk_QrZHHuXLxLnqr65DGnDUgfpE&sensor=true" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <ul><%= link_to (image_tag "globe.png", :size => "70x40"), root_path, :id => "globe_icon_href", :locals => { :index => true } %></ul>
        <ul class="nav" id="top_main_global_bar">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about" style="cursor:pointer;" id="about_page">About</a></li>
          <li><a href="#contact" id="contact_page">Contact</a></li>
          <li><a href="#help" style="cursor:pointer;" id="help_page">Help</a></li>
          
          <% if current_user %>
            <li id="logout"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><a href="#" id="register_button">Register</a></li>
          <% end%>

        </ul>
        <ul class="nav">
          <% if current_user %>
            <li><%= image_tag display_profile_picture(current_user.profile.profile_picture), :id => "facebook_pic", :size => "30x30" %></li>
          <% else %>
            <li><%= link_to (image_tag "facebook_32.png", :id => "facebook_icon"), user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
          
        </ul>
        <div class="pull-right">
          <% if current_user %>
            <div class="login-group"><%= button_to current_user.email, account_path, :id => "current_user_account_button", :class => "btn info" %></div>
          <% else %>
            <div id="login_group">
              <%= render :partial => "devise/sessions/form", :locals => {:resource => User.new, :resource_name => "user"} %>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="page-header">
        <div id="flash">
          <%= render "shared/flash", :flash => flash %>
        </div>
        <h1 id="main_page_header">CheckMeOut-360  <small>by Quy Phan</small></h1>

        <div id="registration_form" style="display:none;">
          <h2>Register</h2><%= render :partial => "devise/registrations/new", :locals => { :resource => User.new, :resource_name => "user" }%>
        </div>
      </div>
      <div id="loader_circle" style="display:none;">
        <center>
          <%= image_tag "ajax-loader.gif" %>
          <br/>
          <br/>
          <p> Retrieving Your Facebook Places and Checkins...</p>
        </center>
      </div>
      <div id="page_contents" class="row">
        <div class="span10">
          <% if get_current_wall.try(:id) %>
            <ul id="main_nav_tab" class="tabs">
              <li id="li_for_wall" class="active"><%= link_to "Wall", "#", :id => "wall_tab" %></li>
              <li id="li_for_place"><%= link_to "Places", "#", :id => "place_tab" %></li>
            </ul>
          <% end %>
          <div id="current_wall" style="display:none;"><%=get_current_wall.try(:id)%></div>
          <div id="yield_for_main_content">
            <%= yield %> <!-- !!! This is where all the contents of the views will render !!! -->
          </div>
        </div>
        <div class="span4">
          <ul class="tabs" id="right_side_tab"> 
            <li id="users_list" class="active"> <%= link_to "Users", "#", :id => "users_link" %> </li>
            <li id="checkins_list"> <%= link_to "Checkins", "#", :id => "checkins_link" %> </li>
            <li id="places_list"> <%= link_to "Places", "#", :id => "places_link" %> </li>
          </ul>
          <div id="list_of_users">
            <%= render :partial => "shared/user_list" %>
          </div>
          <div id="list_of_checkins" style="display:none;">
            <%= render :partial => "shared/checkins_list" %>
          </div>
          <div id="list_of_places" style="display:none;">
            <%= render :partial => "shared/places_list" %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</body>

<footer id="main_footer">
  <p>&copy; Quy Phan</p>
</footer>
</html>
