<!DOCTYPE html>
<html>
<head>
  <title>CheckMeOut360</title>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=AIzaSyBxYlcqNk_QrZHHuXLxLnqr65DGnDUgfpE&sensor=true" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name + "_action" %>" class='<%= controller_name %> <%= Rails.env %>'>
  
  <%= render partial: "templates/navbar" %>
  <div id="main_page" class="container-fluid">
    <%= render partial: "templates/banner_bar" %>
    <div class="row-fluid">
      <div id="inner_body" class="well offset1 span10">
        <%= render partial: 'shared/ajax_loader', locals: {div_id: "application"}%>
        <div id="yield_for_main_content">
          <%= yield %> <!-- !!! This is where all the contents of the views will render !!! -->
        </div>
      </div>
    </div><!--/row-->
  </div><!--/.fluid-container-->
</body>
<footer id="main_footer">
    <span style="color: #007899;">Software</span>
    <span id="main_page_plus"> + </span>
    <span style="color: #129900;">Develop</span>
    <span id="main_page_plus"> + </span>
    <span style="color: white">Design </span>
    <span class="zero_red">&copy; GroundZero Labs </span>
</footer>
</html>
